{
  "plugins": [
    "prettier",
    "react"
  ],
  "extends": [
    "airbnb",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "no-console": ["error", {
      "allow": ["error", "info"]
    }],
    "global-require": "off",
    "import/no-dynamic-require": "off",
    "import/no-extraneous-dependencies": ["errpr", {
      "devDependencies": ["./inspector"]
    }]
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  }
}
